:root{
    --azul-oscuro:#4670F0;
    --azul-claro:##48A4FA;
    --azul-verdoso:##4DC2E3;
    --azul-aqua:#48FAF1;
    --verde:#46F0B7;
    --tono-claro: #1F1F1F;
    --tono-oscuro:#1A1A1A;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Gabriela', serif;
    background-color:var(--tono-claro);
    color: white;
  
  
}
header{
    display: flex;
    justify-content: flex-end;
    

}
h1{
    animation-duration: 3s;
    animation-name: slidein;
    
}

@keyframes slidein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;

    }
  }
.section__bloque{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
    
    
    
}

.bloque--bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 2px;
}
.logo--principal{
    max-width: 100%;
    max-height: 90%;
    margin-top: 40px;
    margin-bottom: 16px;
    opacity: .8;
    z-index: -1;
    position: absolute;
    transform: translateY(-90px);
   
}
.btn--normal{
    border-radius: 2px;
    border-style: hidden;
    border:1.5px solid var(--verde);
    background-color: var(--tono-oscuro);
    width: 160px;
    height: 50px;
    font-family: 'Gabriela',serif;
    font-size: 1.6rem;
    color: var(--verde);
    position: relative;
}
.btn--normal::before{
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    position: absolute;
    background-color: var(--verde);    
    transition: .2s ease-out all;
    
}

.btn--normal:hover{
    
    color: var(--tono-oscuro);
    

}
.btn--normal:hover::before{
    width: 100%;
    color: var(--tono-oscuro);
}
.btn--text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
}

.nav{
    display: flex;
    position: relative;
    justify-content:center;
    background-color: var(--tono-oscuro);
    visibility: hidden;
    width: 0;
    z-index: 1;
    transform: translateX(-20px);
}
.nav-a{
    width: 100%;
    height: 50px;
    text-align: center;
    border-top:1px solid var(--azul-aqua) ;
    border-bottom: 1px solid var(--azul-aqua);
    padding-top: 10px;
    text-decoration: none;
    color: var(--azul-aqua);
    position: relative;
    z-index: 1;
}
.nav-a::before{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--azul-aqua);
    transition: .2s ease-out all;
}
.nav-a:hover{
    
    color: var(--tono-oscuro);
    transition: all .3s ease-out ;   
}
.nav-a:hover::before{
    width: 100%;
}
header>button{
    background-color: var(--tono-oscuro);
    border-style: hidden;
    width: 40px;
    height: 52px;
    z-index: 1;
}
.nav--icon{
    width: 40px;
    height: 52px;
    filter: invert(100%);
    
}
.contacto{
    margin-top: 16px;
}

.sobre-mi--presentacion{
    
    border: 1px solid var(--azul-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14px;
    background-color: var(--tono-claro);
   
    
}

.sobre-mi--presentacion>h1{
    color: var(--verde);
    text-align: center;    
    font-size: 1.6rem;
    margin: 16px; /* margin bot and top*/
}
.sobre-mi--presentacion>p{
    color: #ffff;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 16px;
}
.sobre-mi--presentacion>img{
    max-width: 85px;
    max-height: 87px;
    border-radius: 50%;
}
.sobre-mi--redes{
    width: 290px;
    height: 96px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 2;
}
.sobre-mi--redes>a{
    width: 34px;
    max-height: 33px;
}

.redes-icon{
    max-width: 34px;
    max-height: 33px;
}
.redes-icon:hover{
    transform: scale(1.3);
    transition: transform .5s;
}
.formulario-contacto{
    border: 1px solid var(--azul-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 14px;
    background-color: var(--tono-claro);
    z-index: 1;
    
}
.formulario-contacto>h1{
    text-align: center;
    color: var(--verde);
    align-self: center;
    margin-top: 14px;
    margin-bottom: 14px; 
    z-index: 1;
}
.formulario--contacto--form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-right: 14px;
    padding-bottom: 14px;
    
}
.formulario--contacto--form>input{
    align-self: flex-end;
    border-radius: 2px;
    border-style: hidden;
    border:1.5px solid var(--verde);
    background-color: var(--tono-oscuro);
    width: 122px;
    height: 41px;
    color: var(--verde);
    font-family: 'Gabriela',serif;
}
.formulario--contacto--form>input:hover{
    background: var(--verde);
    color: var(--tono-oscuro);
    transition: all .3s;

}
.formulario--contacto--form>label{
    width: 100%;
}
.formulario--contacto--form>label>input,.formulario--contacto--form>label>textarea{
    width: 100%;
    font-family: 'Gabriela', serif;
    margin-bottom: 14px;
    background-color: var(--tono-oscuro);
    border: none;
    color: white;
}

.formulario--contacto--form>label>textarea{
    height: 100px;
   
}
.section__mapa{
    max-width: 100%;
    background-color: var(--tono-claro);
}

/*menu responsivo*/
.nav-open{
    width: 100vw;
    height: 100vh;
    visibility: visible;
    flex-direction: column;
    order: 2;
    transform: none;
    
}

.header-open{
    width: 100vw;
    height: 100vh;
    background-color: var(--tono-oscuro);
    flex-direction: column;
    position: fixed;
    z-index: 2;
}
.btn-open{
    align-self: flex-end;
    order: 1;
    
}

.redes-open{
   transform: translateY(50vh);
    position: fixed;
}

.ocultar{
    visibility: hidden;
}


/*CSS para cambiar el color de los iconos
https://codepen.io/sosuke/pen/Pjoqqp
*/
.twiter-icon{
    filter: invert(54%) sepia(47%) saturate(1004%) hue-rotate(180deg) brightness(100%) contrast(96%);   
}
.facebook-icon{
    filter:invert(41%) sepia(29%) saturate(5504%) hue-rotate(213deg) brightness(96%) contrast(96%);
}
.github-icon{
    filter: invert(83%) sepia(36%) saturate(733%) hue-rotate(95deg) brightness(97%) contrast(95%);
}
.gitlab-icon{
    filter: invert(96%) sepia(98%) saturate(1450%) hue-rotate(140deg) brightness(100%) contrast(96%);
}
.youtube-icon{
    filter: invert(18%) sepia(37%) saturate(7261%) hue-rotate(352deg) brightness(94%) contrast(78%);
}

